nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgb(255, 171, 141);
  border-bottom: 2px solid black;
}
nav a {
  color: rgb(0, 100, 103);
  text-decoration: none;
}
nav a:hover {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

#links {
  display: flex;
  gap: 20px;
}

#links a {
  text-decoration: none;
  color: rgb(0, 100, 103);
  font-size: 20px;
  font-weight: 800;
}
#links a:hover {
  color: rgb(255, 255, 255);
}
